.slider-white {
  background-color: rgba(255, 255, 255, 0.12);
}
.slider-white .noUi-connect {
  background: #ffffff !important;
}
.slider-white.noUi-connect {
  background: #ffffff !important;
}
.slider-white .noUi-handle {
  border-color: #ffffff !important;
}

.slider-black {
  background-color: rgba(0, 0, 0, 0.12);
}
.slider-black .noUi-connect {
  background: #000000 !important;
}
.slider-black.noUi-connect {
  background: #000000 !important;
}
.slider-black .noUi-handle {
  border-color: #000000 !important;
}

.slider-dark {
  background-color: rgba(75, 75, 75, 0.12);
}
.slider-dark .noUi-connect {
  background: #4b4b4b !important;
}
.slider-dark.noUi-connect {
  background: #4b4b4b !important;
}
.slider-dark .noUi-handle {
  border-color: #4b4b4b !important;
}

.slider-light {
  background-color: rgba(246, 246, 246, 0.12);
}
.slider-light .noUi-connect {
  background: #f6f6f6 !important;
}
.slider-light.noUi-connect {
  background: #f6f6f6 !important;
}
.slider-light .noUi-handle {
  border-color: #f6f6f6 !important;
}

.slider-primary {
  background-color: rgba(216, 17, 89, 0.12);
}
.slider-primary .noUi-connect {
  background: #D81159 !important;
}
.slider-primary.noUi-connect {
  background: #D81159 !important;
}
.slider-primary .noUi-handle {
  border-color: #D81159 !important;
}

.slider-secondary {
  background-color: rgba(130, 134, 139, 0.12);
}
.slider-secondary .noUi-connect {
  background: #82868b !important;
}
.slider-secondary.noUi-connect {
  background: #82868b !important;
}
.slider-secondary .noUi-handle {
  border-color: #82868b !important;
}

.slider-success {
  background-color: rgba(45, 159, 100, 0.12);
}
.slider-success .noUi-connect {
  background: #2d9f64 !important;
}
.slider-success.noUi-connect {
  background: #2d9f64 !important;
}
.slider-success .noUi-handle {
  border-color: #2d9f64 !important;
}

.slider-info {
  background-color: rgba(4, 150, 255, 0.12);
}
.slider-info .noUi-connect {
  background: #0496FF !important;
}
.slider-info.noUi-connect {
  background: #0496FF !important;
}
.slider-info .noUi-handle {
  border-color: #0496FF !important;
}

.slider-warning {
  background-color: rgba(241, 115, 0, 0.12);
}
.slider-warning .noUi-connect {
  background: #f17300 !important;
}
.slider-warning.noUi-connect {
  background: #f17300 !important;
}
.slider-warning .noUi-handle {
  border-color: #f17300 !important;
}

.slider-danger {
  background-color: rgba(194, 1, 20, 0.12);
}
.slider-danger .noUi-connect {
  background: #c20114 !important;
}
.slider-danger.noUi-connect {
  background: #c20114 !important;
}
.slider-danger .noUi-handle {
  border-color: #c20114 !important;
}
